@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/Content/GameOfThrones.css"/>
<div class="jumbotron">
    <h1>Game Of Thrones</h1>
    
</div>

<div class="row">
    <p>Map of westeros</p>
</div>