@model IEnumerable<FullStackMVCAPP.Models.Character>
@{
    ViewBag.Title = "HouseCharactersIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Characters of House @Model.Last().HouseID.Name</h2>

<!--Razor loop passes each character from list to a new action link-->
<!--Action Link take a character and renders a partial view that displays the character information-->

@if (Model != null)
{
    foreach (var character in Model) { 
        <p>@character.FirstName</p>
    }
}