body {
}

.jumbotron h1,
.jumbotron .h1 {
    color: inherit;
    font-family: Papyrus;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #b0893e;
}